/*  your css code here. If applicable */
h3{
	text-align:center;	
	padding-bottom:0;
	margin:0;
}
.middle{
	width:100%;
	margin:auto;
}
.center{
	text-align:center;
}
.right{
	text-align:right;
}
.green{
	background-color:green;
}
.blue{
	background-color:blue;
}
img{
	height:100px;
}